<div id="mainContent">
  <h1 class="title text-center"><%= link_to @pic.title, @pic, class: 'igPicTitle' %></h1>
  <%= image_tag @pic.image.url, class: "mt-3 mb-3 shownPic img-fluid mb-5" %>
  <p><%= @pic.description %></p>
  <% if user_signed_in? %>
    <%= link_to "Edit", edit_pic_path, class: "btn btn-primary" %>
    <%= link_to "Delete", pic_path, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
    <button class="btn btn-info text-dark"><%= link_to "Like ", like_pic_path(@pic), method: :put, class: "text-dark likeButton" %><i class="fa fa-thumbs-up"><%= @pic.get_upvotes.size %></i></button>

    <div id="commentsDiv" class="mt-5">
      <h4><%= @pic.comments.count %> Comments</h4>
      <%= render @pic.comments, class: "commentBody" %>

      <h4 id="commentForm"> Join the discussion! <h4>
      <%= render "comments/form" %>
    </div>
  <% end %>
</div>
